@font-face {
    font-family: Prompt;
    src: url("Police/prompt-bold-webfont.woff");
}

@font-face {
    font-family: Prompt_regular;
    src: url("Police/Prompt-Regular.ttf")
}

body{
    background-color: brown;
    font-family: Prompt_regular;
}

header{
    margin: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 225, 212);
    text-align: left;
    font-size: 1.5em;
    padding-left: 20%;
    box-shadow: darkgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

a{
    text-decoration: none;
    color: black;
}

p#TitreGen{
    font-size: 2.1em;
    font-family: Prompt;
    color: brown;
    text-shadow: 2px 2px black;
}

p#sousTitre{
    position: relative;
    font-family: Prompt;
    top: -40px;
}

#photo
{
    position: absolute;
    width: 13%;
    left: 70%;
    top: 70px;
}

#photo:hover{
    width: 15%;
    opacity: 0.75;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

ul{
    list-style: none;
    width: 80%;
    margin-left: 10%;
}

li{
    float : left;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Prompt;
    font-size: 1.2em;
    padding: 20px;
    cursor: pointer;
}

li:hover{
    font-size: 1.4em;
    transition-duration: 0.5s;
}

section{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 225, 212);
    text-align: left;
    font-size: 1.5em;
    padding-left: 2%;
    box-shadow: darkgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

main{
    width: 60%;
}

aside{
    float: right;
    width: 30%;
    margin-right: 2%;
}

h1{
    color: brown;
    font-family: Prompt;
    font-size: 1.3em;
}

h2{
    font-size: 1.1em;
    font-family: Prompt;
    margin-top: 20px;
}

h3{
    font-size: 0.8em;
    font-style: italic;
    margin-top: -10px;
}

p.textInterne{
    font-size: 0.7em;
    margin-top: -20px;
}

div.transition{
    background-color: brown;
    width: 90%;
    margin-left: 5%;
    height: 2px;
    box-shadow: 2px 2px 2px grey;
}

footer{
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(235, 225, 212);
        text-align: left;
        font-size: 1.5em;
        padding-left: 2%;
        box-shadow: darkgrey;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.inFooter{
    font-size: 1.0em;
    font-family: Prompt;
}

.formulaireDroite{
    text-align: right;
    font-size: 0.9em;
}